MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=foodapp
MYSQL_PORT_HOST=3307

MONGODB_DATABASE=foodapp_nosql
MONGODB_PORT_HOST=27017

JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=holasmiled@gmail.com
MAIL_PASSWORD=otnl sooz nhzy qrwz
MAIL_FROM=noreply@foodapp.vn

APP_SMS_ENABLED=false